#clockFace {
	width:250px;
	height: 250px;
	background-color: #00ffff;
	position: relative;
	top:20px;
	left: 20px;
	border-radius: 125px;
    display: inline-block;
}


#hourHand {
/*	width: 200px;
	height: 16px;*/
	width: 8px;
	height: 100px;
/*	left: 150px;
	top: 242px;*/
    left: 123px;
    top: 75px;
	position: absolute;
/*    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);*/
}

#hourHandLeft {
/*	width: 100px;
	height: 16px;*/
	width: 8px;
	height: 50px;
	display: inline-block;
	background-color: #ff0000;
	position: relative;
	padding: 0px;
	margin: 0px;
}

#hourHandRight {
/*	width: 100px;
	height: 16px;*/
	width: 8px;
	height: 50px;
	display: inline-block;
	background-color: #00ffff;
	opacity: 0;
	position: relative;
	padding: 0px;
	margin: 0px;
}





#minHand {
/*	width: 350px;
	height: 16px;*/
	width: 8px;
	height: 176px;
/*	left: 75px;
	top: 242px;*/
    left: 123px;
    top: 38px;
	position: absolute;
}

#minHandLeft {
/*	width: 175px;
	height: 16px;*/
	width: 8px;
	height: 88px;
	display: inline-block;
	background-color: #DAA520;
	position: relative;
	padding: 0px;
	margin: 0px;
}

#minHandRight {
/*	width: 175px;
	height: 16px;*/
	width: 8px;
	height: 88px;
	display: inline-block;

	background-color: #00ffff;
	opacity: 0;
	position: relative;
	padding: 0px;
	margin: 0px;
}



#secHand {
	width: 8px;
	height: 200px;
	left: 123px;
	top: 25px;
	position: absolute;
}

/*#secHandInner {
	width: 16px;
	height: 400px;
	left: 245px;
	top: 50px;
	position: absolute;
}*/

#secHandLeft {
	width: 8px;
	height: 100px;
	display: inline-block;
	background-color: #000000;
	position: relative;
	padding: 0px;
	margin: 0px;	
}

#secHandRight {
	width: 8px;
	height: 100px;
	display: inline-block;
	background-color: #00ffff;
	opacity: 0;
	position: relative;
	padding: 0px;
	margin: 0px;
}




#digit-12 {
    left: 116px;
    padding: 10px 0px 0px 0px;
}

#digit-1 {
    top: 25px;
    left: 170px;
}

#digit-2 {
    top: 65px;
    left: 210px;
}

#digit-3 {
    top: 118px;
    left: 225px;
}

#digit-4 {
    top: 171px;
    left: 210px;
}

#digit-5 {
    top: 212px;
    left: 170px;
}

#digit-6 {
    top: 228px;
    left: 116px;
}

#digit-7 {
    top: 212px;
    left: 64px;
}

#digit-8 {
    top: 171px;
    left: 22px;
}

#digit-9 {
    top: 118px;
    left: 5px;
}

#digit-10 {
    top: 63px;
    left: 20px;
}

#digit-11 {
    top: 24px;
    left: 62px;
}

.singleDigit,
.doubleDigit  {
	font-size: 15px;
    line-height: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
	padding: 0px 0px 0px 0px;
	/*background-color: #ff0000;*/
}

.doubleDigit {
/*	font-size: 30px;
	line-height: 30px;
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 0px 0px 0px 0px;
	background-color: #ff0000;*/
}

.textNode {
	display: block;
	text-align: center;
}