html,
body {
	margin: 0 auto 0 auto;
	padding: 0;
	max-width: 900px;
	/*height: 100%;*/
	font-family: Helvetica, sans-serif;
}

#App-Root {
	/*height: 100%;*/
	padding: 40px 0 0 0;
}

#react-main {
	/*height: 100%;*/
}

#clock-display {
	text-align: center;
	white-space: nowrap;
}

#timezone-display {
	text-align: center;
}

#change-theme-button {
	text-align: center;
}

#theme-list {
	display: inline-block;
}

.close-alert-box {
    position: absolute;
    padding: 10px 10px;
    line-height: 10px;
    top: 0px;
    right: 0px;
    background-color: #eaf5f2;
    height: 10px;
}

.close-alert-box:hover {
	cursor: pointer;
}

.alert-box {
	max-width: 810px;
    /*padding: 2.5%;*/
    padding: 3.5% 2.5%;
    background-color: #97e9d2;
    text-align: center;
    position: absolute;
    width: 90%;
    left: 2.5%;
    top: 0%;
    /*bottom: 2.5%;*/

/*    -webkit-transition: bottom 1s;
    transition: bottom 1s;*/

    -webkit-transition: top 1s;
    transition: top 1s;
}

.alert-box-animation {
    /*bottom: -50%;*/
    top: 120%;
/*    -webkit-transition: bottom 1s;
    transition: bottom 1s;*/
}

#time-report {
	position: relative;
	overflow: hidden;
	/*height: 100%;*/
}

.red {
	background-color: #ff6566;
}

.green {
	background-color: #97e9d2;
}

.alert-p {
	margin: 0;
    padding: 0 20px 0 20px;
    line-height: 21px;
}

#timeZone {
	font-size: 13px;
}
