#clock-display {
	text-align: center;
}

#timezone-display {
	text-align: center;
}

#change-theme-button {
	text-align: center;
}

#theme-list {
	display: inline-block;
}

.close-alert-box {
	position: absolute;
    padding: 10px 10px;
    line-height: 10px;
    top: 0px;
    right: 0px;
    background-color: #eaf5f2;
}

.close-alert-box:hover {
	cursor: pointer;
}

.alert-box {
	padding: 25px;
    background-color: #97e9d2;
    position: relative;
}
