.time-divider,
#hours,
#minutes {
	display: inline-block;
	vertical-align: top;
	position: relative;
    font-size: 120px;
    line-height: 1;
}

.time-divider {
	/*
	height:438px;
	*/
	height:220px;
}

.time-divider {
    max-height: 120px;
}

.time-divider-dot {
    display: block;
    /* font-size: 150px; */
    font-size: 82px;
    line-height: 0.5;
    /* width: 30px; */
    /* text-align: left; */
    height: 30px;
    vertical-align: top;
}